#container .video-container1 {
   width: 100%;
   height: 100px;
   overflow: hidden;
   position: relative;
}

#container video {
   width: 100%;
}

.marquee3k-position {
   margin: 0 auto 0 auto;
   position: absolute;
}
.marquee3k h3 {
   position: relative;
   bottom: -10px;
   color: white;
}

.navigation{
  padding-top:30px;
  padding-bottom:30px;
  position:absolute;
  top:0;
  width:100%;
  z-index:1;
}

.navbar-right{
  float:right;
  padding-right:10%;
}

.navbar-right a{
  text-decoration:none;
  padding:10px;
  color: #fff;
  font-family:Arial;
  font-weight:900;
}

.navbar-right a:hover{
  text-decoration:underline;
}
.navbar-logo{
  padding-left:10%;
  font-family:Arial;
  font-size:30px;
  font-weight:bold;
  text-decoration:none;
  color:#fff; 
}

.video-container {
z-index: -100;
width:100%;
height:90%;
overflow:hidden;
position:absolute;
top:0;
left:0;
}

#video-bg{
  width:100%;
 
}

.portfolio-section{
  margin-top:50%;
}
.tagline-left{
  float:left;
  width:50%;
  text-align:center;
}

.tagline-right{
  float:right;
  width:50%;
  text-align:center;
}

.tagline-video{
  width:75%;
}

.tagline-right-text{
 position:absolute;
 margin-top:9%;
 text-align:center;
 margin-left:17%;
font-family:Arial;
 color:#fff;
  width:290px;
  font-size:40px;
}

.tagline-left-text{
 position:absolute;
 margin-top:9%;
 text-align:center;
 margin-left:11%;
font-family:Arial;
 color:#fff;
  width:375px;
  font-size:40px;
}

/*=============== ABOUT ===============*/
.about__container{
  row-gap: 6rem;
color: ivory;

}
.about__group{
  position: relative;

}
.about__img{
  width: 310px;
  border-radius: .5rem;

}
.about__card{
  width: 180px;
  position: absolute;
  right: 0;
  bottom: -2.5rem;
  background-color: hsla(0, 0%, 100%, .1);
  backdrop-filter: 1rem .75rem;
  text-align: center;
  border-radius: 1.25rem;
}
.about__card-title{
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}
.about__card-description{
  font-size: var(--smaller-font-size);
}

.about__title{
  text-align: initial;
  margin-bottom: 2rem;
}
.about__description{
  margin-bottom: 2rem;
}
.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}
